<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Network topology</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="/js/jquery.form.min.js"></script>
  <script type="text/javascript" src="/js/query-form.js"></script>
</head>

<body>
  <div class='top'>
    <img src="clarkson-lg-logo.png" alt="logo">
  </div>
  <div class='middle'>


    <form id="query-form" enctype="multipart/form-data" action="/process" method="post">
      <fieldset>
        <legend>
          <h3>Path Finding</h3></legend>
        <ul>

          <li>
            <label for="src"> Source Node </label>
          </li>
          <li>
            <input id="src" name="src" type="number"></input>
          </li>

          <li>
            <label for="dest"> Destination Node </label>
          </li>
          <li>
            <input id="dest" name="dest" type="number"></input>
          </li>

          <li>
            <label for="kpaths"> Number of Paths </label>
          </li>
          <li>
            <input id="kpaths" name="kpaths" type="number" />
          </li>

          <li>
            <input type="submit" value="Calculate" />
          </li><span id="query-msg"></span>
        </ul>


        <label for='output'>
          <h4>Shortest path(s) from source to destination </h4>
        </label>
        <div id='query-output' class='output' >
        <div id = "query-output-example">
          <p>
            Example Output:
            <br/><br/>
            Source Node: "from above input"
            <br /> Destination Node: "from above input"
            <br /> Path: 1 -> 2 -> 3 -> 4 -> 7 -> 8
            <br /> Cost: some floating point Number
          </p>
          <p>
            Source Node: "from above input"
            <br /> Destination Node: "from above input"
            <br /> Path: 1 -> 2 -> 3 -> 4 -> 7 -> 8
            <br /> Cost: some floating point Number
          </p>
          <p>
            Source Node: "from above input"
            <br /> Destination Node: "from above input"
            <br /> Path: 1 -> 2 -> 3 -> 4 -> 7 -> 8
            <br /> Cost: some floating point Number
          </p>
        </div>
        </div>
      </fieldset>
    </form>

    <form id = "reachability-form" action="/getReachability" method = "post">
      <fieldset>
        <legend>
          <h3>Reachability Assessment</h3></legend>
        <ul>
          <li>
            <label for="reach">Border Node</label>
          </li>
          <li>
            <input id="reach" name="reach" type="number"></input>
          </li>
          <li>
            <input type="submit" value="Calculate" />
          </li>
        </ul>


        <label for='assessment'>
          <h4>External Networks</h4>
        </label>
        <div id='assessment-output' class='output' >
        <div id = "assessment-output-example">
          <p>
            Example Output:
            <br/><br/>
            Border Node: "from above input"
            <br /> Neighboring Nodes: a, b ,c ,d </p>
        </div>
        </div>
      </fieldset>
    </form>


    <div class="bottom">
      <div class="left">
        <form action="/home">
          <input type="submit" value="Back" />
        </form>
      </div>
    </div>
  </div>

</body>

</html>






