.bottom {
  position: absolute;
  top: 70%;
  width:100%;
  height:30%;
  background-color: inherit;
  align-content: center;
}

.right {
  position: relative;
  float: right;
  height: 70%;
  width: 50%;
  background-color: inherit;
}

.left {
  position: relative;
  float: left;
  height: 70%;
  width: 50%;
  background-color: inherit;
  align-content: center;
}

.output {


}

body {
  background-color: #cccccc;
  align-content: center;
  width: 100%;
  height: 100%;
}

.calc {
  position: relative;
  left: 45%;
  top: 20%;
  
}

.upload {
  position: relative;
  left:35%;
  top: 50%;

}



